@use 'global_18';

/*
=============== 
Navbar
===============
*/

.nav {
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: var(--clr-primary-10);
  transition: var(--transition);

  &-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
  }

  &-header h3 {
    padding-top: 0.7rem;
  }

  &-links {
    display: none;

    a {
      color: var(--clr-grey-3);

      &:hover {
        color: var(--clr-primary-5);
        border-bottom: 2px solid rgb(151, 52, 52);
        padding-bottom: .2rem;
      }
    }
  }

  &-btn {
    position: absolute;
    right: 1.5rem;
    background-color: transparent;
    border-color: transparent;
    font-size: 2rem;
    color: var(--clr-primary-5);
    cursor: pointer;
  }
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 5;
  box-shadow: var(--light-shadow);
}

@media screen and (min-width: 768px) {
  .nav {
    &-links {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 1.5rem;
      position: absolute;
      right: 3rem;
    }

    &-btn {
      display: none;
    }
  }
}

/*
=============== 
Sidebar
===============
*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-grey-10);
  display: grid;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);

  &-links {
    text-align: center;

    a {
      font-size: 2rem;
      text-transform: capitalize;
      color: var(--clr-grey-5);
      letter-spacing: var(--spacing);

      &:hover {
        color: var(--clr-primary-5);
      }
    }
  }

  .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background-color: transparent;
    border-color: transparent;
    color: #bb2525;
    cursor: pointer;
    transition: var(--transition);

    &:hover {
      color: #e66b6b;
    }
  }
}

.show-sidebar {
  transform: translateX(0);
}

/*
=============== 
Hero Page
===============
*/

.hero {
  background-color: var(--clr-primary-10);

  &-center {
    display: grid;
    min-height: calc(100vh - 4rem);
    place-items: center;
  }
  
  .underline {
    margin-left: 0;
    margin-bottom: .5rem;
  }

  &-btn {
    margin-top: 1.25rem;
  }

  &-img {
    display: none;
  }

  &-photo {
    max-width: 25rem;
    max-height: 30rem;
    object-fit: cover;
    border-radius: var(--radius);
    position: relative;
  }

  &-icons {
    justify-items: start;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    .section-center {
      grid-template-columns: 1fr 1fr;
    }

    &-img {
      display: block;
      position: relative;

      &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 2rem;
          right: -2rem;
          border: .25rem solid var(--clr-primary-5);
          border-radius: var(--radius);
      }
    }
  }
}

/*
=============== 
About 
===============
*/

/* section title added to globals */
.about {
  &-title {
    text-align: left;
    margin-bottom: 2rem;
  }

  &-title .underline {
    margin-left: 0;
  }

  &-center {
    display: grid;
    gap: 3rem 2rem;
  }

  &-img {
    justify-self: center;
    position: relative;
  }

  &-img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-primary-5);
    top: 2rem;
    left: -2rem;
    border-radius: var(--radius);
  }

  &-photo {
    max-width: 25rem;
    max-height: 30rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: var(--radius);
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .about {
    &-center {
      grid-template-columns: 1fr 1fr;
    }

    &-img {
      position: relative;
    }
    
    &-info {
      align-self: center;
    }
  }
}

/*
=============== 
Services 
===============
*/

.services-center {
  .service {
    background-color: var(--clr-white);
    padding: 3rem 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    border-radius: var(--radius);
    transition: var(--transition);

    &:hover {
      background-color: var(--clr-primary-5);
      color: var(--clr-white);

      .underline {
        background-color: var(--clr-white);
      }

      p {
        color: var(--clr-white);
      }
    }

    &-icon {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*
=============== 
Projects 
===============
*/

.projects {
  &-text {
    width: 85vw;
    max-width: 30rem;
    margin: 0 auto;
  }

  .project {
    position: relative;
    background-color: var(--clr-primary-5);
    border-radius: var(--radius);
    margin-bottom: 2rem;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: .25rem solid var(--clr-white);
      border-radius: var(--radius);
      transition: var(--transition);
      opacity: 0;
    }

    &-img {
      height: 15rem;
      object-fit: cover;
      border-radius: var(--radius);
    }

    &-info {
      text-align: center;
      color: var(--clr-white);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: var(--transition);
      opacity: 0;

      p {
        color: var(--clr-white);
        text-transform: capitalize;
      }
    }

    &:hover .project-info {
      opacity: 1;
    }

    &:hover .project-img {
      opacity: .3;
    }

    &:hover::after {
      transform: scale(.8);
      opacity: 1;
    }
  }
}

@media screen and (min-width: 768px) {
  .projects {
    &-center {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .projects {
    &-center {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media screen and (min-width: 1170px) {
  .projects {
    &-center {
      grid-template-rows: 15rem 15rem;
      gap: 1rem;
      grid-template-areas: 
        'a b b'
        'a c d';
    }

    .project {
      width: 100%;
      height: 100%;

      &-img {
        height: 100%;
      }

      &-1 {
        grid-area: a;
      }

      &-2 {
        grid-area: b;
      }

      &-3 {
        grid-area: c;
      }

      &-4 {
        grid-area: d;
      }
    }
  }
}