@import 'global';

/*
=============== 
Navbar
===============
*/

.nav {
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: var(--clr-primary-10);
  border-bottom: 1px solid var(--clr-grey-3);

  .nav-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .nav-header h3 {
    margin: auto 0;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
  }

  .navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--clr-primary-10);
    z-index: 2;
    box-shadow: var(--light-shadow);
    }
}

/*
=============== 
Sidebar
===============
*/

/*
=============== 
Hero
===============
*/
/* underline added to globals */

/*
=============== 
About
===============
*/
/* section title added to globals */

/*
=============== 
Services
===============
*/
/* small screen layout setup */
/* bg-grey in globals */

/*
=============== 
Projects
===============
*/

/*
=============== 
Connect
===============
*/

/*
=============== 
Skills
===============
*/
/*
=============== 
Timeline
===============
*/

/*
=============== 
Blog
===============
*/

/*
=============== 
Footer
===============
*/
/*
=============== 
Single Page
===============
*/

/*
=============== 
Products Page
===============
*/
